<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <!-- meta required for electron projects -->
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Knowbia</title>
  <link rel="stylesheet" href="css/style.css" />
  <script src="scripts/index.js" defer></script>
</head>

<body>
  <div class="container">

    <div class="left">
      <div class="texts">
        <h1>Empower <br> your coding journey <br> with Knowbia</h1>
        <p>Your AI Platform</p>
      </div>
      <img src="assets/student.png" alt="Student learning to code" />
    </div> <!-- left -->



    <div class="right">
      <form id="loginForm">
        <h2>Welcome Back</h2>
        <p>Please login to your account</p>

        <input type="text" autofocus name="username" placeholder="Username or Email">
        <input type="password" name="password" placeholder="Password">
        <button type="button" id="forgotPassword">Forgot password?</button>

        <button type="submit" id="loginBtn">Login</button>
      </form>

      <p class="or">Or</p>

      <div class="social">
        <button type="button" id="googleBtn">
          <img src="assets/google.png" alt="Google Logo" />
          Continue with Google
        </button>
      </div>

      <a href="register.html" id="signupButton">
        <p>Don't have an account?</p>
        <p id="Signup">Signup here</p>
      </a>
    </div> <!-- right -->

  </div> <!-- container -->
</body>

</html>
