<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-https://www.w3schools.com/css/css_grid_container.aspwidth, initial-scale=1.0"
    />
    <title>Knowbia</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="login-form">
      <div class="container">
        <div class="main">
          <div class="overlay-blue">
            <h1>
              Empower<span class="block">your coding journey</span
              ><span class="block">with Knowbia.</span>
            </h1>
            <p class="sub-heading">
              Your Personalized AI Companion for Beginner<span class="block"
                >Programmers!</span
              >
            </p>
            <img src="assets/student.png" alt="Student learning to code" />
          </div>

          <div class="content">
            <h2>Welcome Back</h2>
            <p class="subhp">Please login to your account</p>
            <form action="#" method="post">
              <input
                type="text"
                name=""
                placeholder="Email address"
                required
                autofocus=""
                class="input"
              />
              <input
                type="password"
                name=""
                placeholder="Password"
                required
                autofocus=""
                class="input"
              />
              <a href="forgot-password" class="gray">Forgot password?</a>
              <button class="auth-btn" type="submit">Login</button>
              <div class="box">
                <div class="line"></div>
                 <p id="or">OR</p>
                 <div class="line duplicate-line"></div>
              </div>
        
       <div>
        <button class="google-button">
          <img src="assets/google.png" alt="Google Logo" />
          Continue with Google
        </button>
                <p class="gray register">
                  Don't have an account? <a href="register.html">Register</a>
                  <div>
                  
                </div>
                </p>
              </div>
              </div>
             <div>
       
             </div>
     
            </div>
            </form>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
