
/* 
Registration Form 
*/

.registration-form h2 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--black-russian);
  margin-bottom: 2%;
  margin-top: 1rem;
}

.registration-form {
  position: relative;
  min-height: 100vh;
  z-index: 0;
  justify-content: center;
  display: grid;
  /* grid-template-rows: 1fr auto 1fr; */
  align-items: center;
}
.border-shadow {
  border-radius: 76px;
  border: 1px solid #cec8c8;
}

.registration-form .main {
  position: relative;
  display: flex;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  /* flex-direction: row-reverse; */
}

.registration-content {
  width: 39rem;
  padding: 3em 3em;
  text-align: center;
}

.registration-form .auth-btn {
  width: 100%;
}

*,
*:focus{outline: none}

.form{
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
  font-family: sans-serif;
  background: #fff
}
.form-item{
  position: relative;
  margin-bottom: 15px
}
.form-item input{
  display: block;
  width: 400px;
  height: 40px;
  background: transparent;
  border: solid 1px #ccc;
  transition: all .3s ease;
  padding: 0 15px
}
.form-item input:focus{
  border-color: blue
}
.form-item label{
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 13px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  background: #fff;
  padding: 0 10px;
  color: #999;
  transition: all .3s ease
}
.form-item input:focus + label,
.form-item input:valid + label{
  font-size: 11px;
  top: -5px
}
.form-item input:focus + label{
  color: blue
}
